body
{font-family: 'Cairo', sans-serif !important;}

.u-BuiltWithAPEX
{
display: none;
}

.tekwenButtonC1{
    background-color:#7e71b4;
    color:white;
}

.tekwenButtonC2{
    background-color:#2ca3c1;
    color:white;
}
